body
{
	background-image: url("../img/bg_img.png");
	color: black;
	font-family: 'Roboto Condensed', 'Arial' , sans-serif;
}
div
{border: 1px black solid;}

h1
{color: darkblue;}

.resume
{color: #660066;}

div:hover
{
	background-color: yellow;
}

#menu
{
	background-color: #E6E6FA;
	height: 5%;
	width: 90%;
	position: fixed;
	z-index: 5;
}

.mid
{
	background-color: blue;
	height: 5%;
	width: 90%;
	margin: 15px;
	padding: 5px;
}

img {
	float: left;
}

br {
	clear: both;
}